html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.container{
    width: 99%;
    height: 98%;
    border: 5px solid black;
}
body{
    background-color: blue;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

}
.wrapper-child1,.wrapper-child2,.wrapper-child3,.wrapper-child4{
    border-right: 3px solid red;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.child1,.child2,.child3,.child4{
    display: flex;
    flex-direction: row;
    border-right: 1px solid white;
    color:white;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content:center;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:460px){
    


}

